<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= pageTitle %></title>
</head>
<body>
  <h1>Welcome to Atlantis IS Admin Panel</h1>
  <ul>
    <li><a href="/admin/employee/add">Add Employee</a></li>
    <li><a href="/admin/employee/all">List Employees</a></li>
    <!-- Ovde kasnije možeš dodati linkove za Client, Invoice itd. -->
  </ul>
</body>
</html>
