<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= pageTitle %></title>
</head>
<body>
  <h1>Welcome to Atlantis IS Admin Panel</h1>
  <ul>
    
    <li><a href="/admin/employee/read">Employees</a></li>
    <li><a href="/admin/vehicle/read">Vehicles</a></li>

  </ul>
</body>
</html>
