<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= pageTitle %></title>
</head>
<body>
  <h1>Welcome to Atlantis IS Admin Panel</h1>
  <ul>
    
    <h2>Employees</h2>
    <h3><a href="/employee/read">Read Employees</a></h3><br />
    <h2>Clients</h2>
    <h3><a href="/client/read">Read Clients</a></h3><br />
    <h2>Out Invoices</h2>
    <h3><a href="/outInvoice/read">Read Out Invoices</a></h3><br />
    <h2>Vehicles</h2>
    <h3><a href="/vehicle/truckComposition/insert">Insert a new truck</a></h3>
    <h3><a href="/vehicle/trailerComposition/insert">Insert a new trailer</a></h3>

  </ul>
</body>
</html>
