<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add Employee</title>
</head>
<body>
  <h1>Add Employee</h1>
  <form action="/admin/employee/insert" method="POST">
    <input type="text" name="EmplType" placeholder="Employee Type" required /> <br />
    <input type="text" name="FirstName" placeholder="First Name" required /> <br />
    <input type="text" name="LastName" placeholder="Last Name" required /> <br />
    <input type="text" name="StreetAndNmbr" placeholder="Street and Number" required /> <br />
    <input type="text" name="City" placeholder="City" required /> <br />
    <input type="text" name="ZIPCode" placeholder="ZIP Code" required /> <br />
    <input type="text" name="Country" placeholder="Country" required /> <br />
    <input type="text" name="PhoneNmbr" placeholder="Phone Number" required /> <br />
    <input type="email" name="EmailAddress" placeholder="Email Address" required /> <br />
    <input type="text" name="IDCardNmbr" placeholder="ID Card Number" required /> <br />
    <input type="text" name="PassportNmbr" placeholder="Passport Number" required /> <br />
    <label for="MgrID">Manager:</label>
    <select name="MgrID" id="MgrID">
      <option value="">No Manager</option>
      <% if (typeof managers !== 'undefined') { managers.forEach(manager => { %>
        <option value="<%= manager.EmplID %>"><%= manager.FirstName %> <%= manager.LastName %></option>
      <% }) } %>
    </select><br>
    <button type="submit">Add Employee</button>
  </form>
  <a href="/admin/employee/read">Back to all employees</a>
</body>
</html>
