<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
</head>

<body>
    <h1><%= pageTitle %></h1>
    <form action="/admin/vehicle/insert" method="POST">
        
        <input type="text" name="VehicleType" placeholder="Vehicle Type" required /> <br />
        <input type="text" name="Make" placeholder="Make" required /> <br />
        <input type="text" name="Model" placeholder="Model" required /> <br />
        <input type="text" name="RegistrationTag" placeholder="Registration Tag" required /> <br />
        <input type="text" name="EmplID" placeholder="Employee ID (Driver)" /> <br />
        <button type="submit">Add Vehicle</button>
    </form>
</body>
</html>