<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %></h1>

  <form action="/admin/vehicle/type/insert" method="POST">
    <label for="vehicleType">Select Vehicle Type:</label><br />
    <select name="vehicleType" id="vehicleType" required>
      <option value="">Choose: </option>
      <option value="Truck">Truck</option>
      <option value="Trailer">Trailer</option>
    </select>
    <br /><br />
    <button type="submit">Continue</button>
  </form>
</body>
</html>
